In [16]:

import pandas as pd
import numpy as np
from sklearn import linear_model

In [17]:
df=pd.read_csv("hiring.csv")
df

   experience  test_score  interview_score  salary
0           0           8                9   50000
1           0           8                6   45000
2           5           6                7   60000
3           2          10               10   65000
4           7           9                6   70000
5           3           7               10   62000
6          10           7                7   72000
7          11           7                8   80000

In [19]:

reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score','interview_score']],df['salary'])

LinearRegression()

In [21]:
reg.predict([[5,6,7]])

array([57964.2290839])